<ion-header no-border>
  <ion-toolbar color="light">
<!-- <ion-img src="logo_naranjo.png"></ion-img> -->
<img width="100" height="80" src="assets/logo_naranjo.png" alt="">
    <ion-title padding-left>
      <p>Contacto</p>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="light">
  <ion-grid fixed>
      <ion-row>
          <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"> 
            <ion-card>
                  <ion-card-header>
                    <!--
                        <ion-card-subtitle> 
                             <span class="text-primary"> {{ i+1 }}. </span>
                            <span>API</span> 
                        </ion-card-subtitle>
                     -->    
                        <ion-card-title>Forma de Contactarnos</ion-card-title>
                  </ion-card-header>

                  <ion-card-content>
                    <p>NEURUS SpA</p>
                  </ion-card-content>
                  <ion-card-content>
                    <p>Av. Providencia 1208, Ofic. 1603</p>
                    <p>Providencia, Santiago</p>
                    <p>contacto@neurus.cl</p>
                    <p>www.neurus.cl</p>
                  </ion-card-content> 
                  <ion-card-content>
                    <p>Teléfonos: </p>
                    <p>+56966166221</p>
                    <p>+56972729021</p>
                  </ion-card-content> 
            </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
