<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item  >
      <ion-input  round type="text" placeholder="Username" name="username" #username></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Password" name="password" #password></ion-input>
    </ion-item>

    <ion-button type="submit" color="primary" fill="solid" expand="block" routerLink="/home" >Entrar</ion-button>
    <ion-button type="submit" color="primary" fill="outline" expand="block" (click)="registro()" >Registrarse</ion-button>

  </ion-list>
</ion-content>
