<!--

<ion-header no-border>
  <ion-toolbar>
 <ion-img src="logo_naranjo.png"></ion-img> 
    <ion-title padding-left>
      <p>Noticias por API</p>
    </ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-header>
  <ion-toolbar>
    <ion-title>Novedades</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button color="primary" menu="PrimerMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid fixed>
      <ion-row>
          <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let noticia of noticias; let i = index"> 
            <ion-card color="dark">
                  <ion-card-header>
                        <ion-card-subtitle> 
                            <!-- <span class="text-primary"> {{ i+1 }}. </span> -->
                            <span class="noticia-source-name"> 
                                {{ noticia.date_modified | date: 'dd/MM/yyyy'}} 
                            </span> 

                            <div class="noticia-more">
                                <ion-button fill="clear" (click)="lanzaMenu()">
                                <ion-icon ios="ios-share-outline" md="md-share" name="more"></ion-icon>
                                </ion-button>
                            </div>
                        </ion-card-subtitle>
                        
                        <ion-card-title> {{ noticia.title }} </ion-card-title>
                  </ion-card-header>

                  <!-- si tiene imagen la muestra sino no la muestra -->
                
                  <ion-img *ngIf="noticia.image" [src]="noticia.image">        
                  </ion-img>
                
                  <ion-card-content>
                      <p>
                          {{ noticia.content_text | slice:0:150 }} ...

                      </p>
                          <ion-button color="primary" size="small" href="{{ noticia.url }}">Ver más</ion-button>                      

                          <!-- 
                        <ion-avatar slot="end">
                            <img src="{{ noticia.author.avatar}}">
                        </ion-avatar>
                        
                        <ion-label>Escrito por {{ noticia.author.name }}</ion-label> -->
                        
                  </ion-card-content>

            </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
