<ion-header>
  <ion-toolbar>
    <ion-title>Uso de aplicación</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button color="primary" menu="PrimerMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid fixed>
      <ion-row>
          <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"> 
            <ion-card>
                  <ion-card-header>
                        <ion-card-subtitle> 
                            <!-- <span class="text-primary"> {{ i+1 }}. </span> -->
                            <span>API</span> 
                        </ion-card-subtitle>
                        
                        <ion-card-title>Consume recursos</ion-card-title>
                  </ion-card-header>

                  <ion-card-content>
                      <p>
                        Esta aplicación lee las noticias mediante una API de uso libre desde un sitio que 
                        las 'entrega' mediante el formato JSON y la adapta a cualquier tipo de dispositivo móvil.
                      </p>
                  </ion-card-content>

            </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
